#root {
  viewport-fill: #000000;
}

#vez {
  x: 50%;
  y: 15%;
  fill: green;
}

#hora {
  x: 50%;
  y: 35%;
  fill: green;
}

#minuto {
  x: 50%;
  y: 35%+40;
  fill: green;
}

#dia {
  x: 50%;
  y: 70%;
  fill: green;
}

#ampm {
  x: 50%;
  y: 95%;
  fill: green;
}

.r {
  fill: #fd0505;
}

.y {
  fill: #eeff00;
}

.b {
  fill: #416afc;
}

.o {
  fill: #fd510d;
}

.g {
  fill: #04f410;
}

.m {
  fill: #00f2ff;
}

.p {
  fill: #f808c4;
}