#root {
  viewport-fill: #25353D;
}

#image {
  opacity: 0.1;
}

#vez {
  x: 50%;
  y: 10%;
  fill: #ff6f61;
}

#hora {
  x: 50%;
  y: 35%;
  fill: #ff6f61;
}

.mostrar-dia #hora {
  y: 22%;
}

#minuto {
  x: 50%;
  y: 35%+52;
  fill: #ff6f61;
}

.mostrar-dia #minuto {
  y: 22%+52;
}

#minuto-overflow {
  x: 50%;
  y: 35%+82;
  fill: #ff6f61;
}

.mostrar-dia #minuto-overflow {
  y: 22%+82;
}

#dia {
  x: 50%;
  y: 65%;
  fill: #ff6f61;
}

#pre {
  x: 50%;
  y: 83%;
  fill: #ff6f61;
}

#ampm {
  x: 50%;
  y: 95%;
  fill: #ff6f61;
}

.r {
  fill: #fd0505;
}

.y {
  fill: #eeff00;
}

.b {
  fill: #a5b8fd;
}

.o {
  fill: #fd510d;
}

.g {
  fill: #04f410;
}

.m {
  fill: #00f2ff;
}

.p {
  fill: #f808c4;
}